.add_product_card {
  max-width: 960px !important;
  margin: 0 auto;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.add_product_field {
  font-size: 18px !important;
}

.add_product_input_field {
  margin-bottom: 18px;
  font-size: 16px !important;
}
