.header_right {
  width: 100%;
}
.header_text {
  font-size: 21px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header_app_name_text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px !important;
  justify-content: center;
  align-items: center;
}
.header_bg {
  /* background-image: url('../../assets/background_image.jpeg'); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh; */
}
