.procuct_image{
 height: 100px !important;
 width: 100% !important;
}
.procuct_card{
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.procuct_title{
 font-size: 22px;
 font-weight: 600;
}
.procuct_description{
 font-size: 16px;
 font-weight: 400;
}
.procuct_price{
 font-size: 20px;
 font-weight: 400;
}
.procuct_status{
 font-size: 14px;
 font-weight: 350;
}
.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.chat_footer > form {
  flex: 1;
  display: flex;
}
.chat_footer > form > input {
  outline-width: 0;
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px
}
.chat_footer > form > button {
  display: none;
}
