/* .procuct_image{
 height: 100px !important;
 width: 100% !important;
} */
.procuct_card{
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
 margin: 30px;

}
.blog_title{
 font-size: 22px;
 font-weight: 600;
}
.blog_description{
 font-size: 16px;
 font-weight: 400;
}
.blog_like{
 font-size: 20px;
 font-weight: 400;
}

.type_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.type_comment > form {
  flex: 1;
  display: flex;
}
.type_comment > form > input {
  outline-width: 0;
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px
}
.type_comment > form > button {
  display: none;
}
